section
    .container
        h1.page-header About the project
        .row
            .col-md-8
                p
                    | Created it for fun and to practice with Angular. At the current state of development
                    | Angular is pretty well practiced and I feel the next step should be back-end integration, authentication
                    | mechanics implementation on both sides of the app and content editable for admin user group.
                    | In other words - less front-end, more business logic.
                h3 Tech used during development of the project
                ul.list-inline.tech-tags
                    li Angular
                    li Bootstrap
                    li angular-UI
                    li ui-router
                    li angular-translate
                    li ng-tags-input
                    li Gulp
                    li Jade
                    li Stylus
                h3 Current functionality
                ul
                    li Main
                        ul
                            li Catalogue
                            li Item details
                            li Catalogue filters
                            li Cart
                            li Checkout
                            li i18n, partial (lack of translation)
                    li Technical
                        ul
                            li Data loaded via AJAX from JSON files
                            li Responsive Cart button
                            li Cart content stores in cookie
                            li Cart item remove/clear confirmation dialogue
                            li Cart item qty field input restricted only to integer
                            li Img loading indicator
                            li Sticky menus and filter
                h3 Nearest targets
                ul
                    li Cover with unit tests most of the core functions
                    li Item images gallery
                    li Page loading indicator
                    li fully i18n (internationalization)
                    li Move data to Firebase
                    li Login and authentication
                    li User groups policies
                    li Admin user group, members able to edit content
                    li Images preloader
                    li Pages preloader
                h3 Future goals
                ul
                    li Migrate to my own back-end
                    li Upgrade to Angular 2.0
            .col-md-4
                .media
                    .media-left
                        img.media-object.author-photo(src="img/sk.jpg" width="60px" alt="It's me")
                    .media-body
                        h4.media-heading Slava Komarov
                        p You can contact me via:
                        a.btn-contact(href="https://ru.linkedin.com/in/svyatoslavkomarov")
                            i.fa.fa-linkedin-square
                        a.btn-contact(href="https://github.com/chernomord")
                            i.fa.fa-github-square
                        a.btn-contact(href="mailto:svyatoslav.komarov@gmail.com")
                            i.fa.fa-at
