.modal-header.text-center
    h3.modal-title We wish you well...
.modal-body.text-center
    p ...and your dreams come true, the sooner the better! Check back with us again soon.
    p So, are you ready to make your wishes?
.modal-footer(style="text-align:center;")
        button.btn.btn-success.btn-lg(type='button', ng-click='vm.ok()') Yeah!
        button.btn.btn-default(type='button', ng-click='vm.cancel()') Nope