button(type='button' ui-sref="cart" data-ng-disabled="vm.isDisabled()").btn.btn-primary.btn-sm.cart__btn
    span.glyphicon.glyphicon-shopping-cart
    | &nbsp; Cart&nbsp;
    .badge(data-ng-bind="vm.productsCount")