section
    .container
        .page-header
            h1 Your cart
    .container
        table.table.table-hover.basket
            thead
                tr
                    th Photo
                    th Name
                    th Price/item
                    th.cell__counter Qty
                    th
            tbody
                div
                tr.cart-list(ng-repeat="item in vm.cartList")
                    td
                        .width--100
                            image-load-indicator(img-src="item.image" width="100")
                        //img.img-responsive(ng-src="{{item.image}}" style='width: 100px; display: block;')
                    td
                        a(ui-sref="item({ category: item.categoryID, item: item.uid })") {{item.name}}
                        p(ng-bind="(item.description | limitTo : 100 : begin) + '…'")
                    td(ng-bind="item.price | currency")
                    td
                        form(name="quantity")
                            .input-group.basket__counter
                                span.input-group-btn
                                    button.btn.btn-default(ng-click="vm.minusItem(item.uid)" data-ng-disabled="item.qty == 1" )
                                        span.plyphicon.glyphicon-minus
                                input.form-control.input-number(ng-model="item.qty" name="qty" data-ng-change="vm.updateCartModel(qty)" integer-restrict)
                                span.input-group-btn
                                    button.btn.btn-default(ng-click="vm.plusItem(item.uid)")
                                        span.plyphicon.glyphicon-plus
                    td(cart-list-confirm)
                        button.btn.btn-default(ng-click="toggleSelect()") Remove
                        .contain__confirmation__container
                            div.cart__confirmation(ng-show="confirmShow")
                                button.btn.btn-danger(ng-click="vm.removeItemType(item.uid); toggleSelect()") Ok
                                button.btn.btn-primary(ng-click="toggleSelect()") Cancel
        .row
            .col-md-6.col-md-offset-6.text-right
                h3 Total:
                    span {{ vm.totalCount | currency }}
                div(cart-list-confirm)
                    button.btn.btn-default.btn-lg(ng-click="toggleSelect()" ) Clear cart
                    .contain__confirmation__container.cart--empty
                        div.cart__confirmation(ng-show="confirmShow")
                            button.btn.btn-danger(ng-click="vm.emptyCart(); toggleSelect()") Ok
                            button.btn.btn-primary(ng-click="toggleSelect()") Cancel
                    button.btn.btn-primary.btn-lg(ui-sref="checkOut") Checkout
