section
    nav.navbar.navbar-default.categories__nav(data-sticky-elm='{"offset":"31", "center": "true", "zIndex":"15"}')
        .container
            .navbar-header
                button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                .navbar-brand Categories
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li(ng-class="{'active': (catID == 'all') }")
                        a(href="" ng-click="categorySet('all')" data-cat-id="all")
                            | All
                            span.sr-only (current)
                    li(ng-repeat='category in categories' ng-class="{'active': (catID == category.id) }")
                        a(href="" ng-click="categorySet(category.id)" data-cat-id="{{category.id}}" )
                            | {{category.name}}
                            span.sr-only (current)
    cat-content(data-requests="requests" data-categories="vm.categories")