//- catalogue goodie card template
.thumbnail
    img.img-responsive(ng-src="{{vm.product.image}}", style='width: 100%; display: block;')
    .caption
        h3(ng-bind="vm.product.name")
        p(ng-bind="vm.product.description")
        h4(ng-bind="vm.product.price | currency:'р. '")
        p
            a.btn.btn-primary(href='', role='button', ng-click="vm.addItem(vm.product)")
                | В миску
            | &nbsp;
            a.btn.btn-default(href='#', role='button')
                | Подробнее