nav.navbar-defaul.root__nav(data-sticky-elm='{"zIndex":"20","center":"true","offset":"0"}')
    .container
        img.root__nav-brand(src="img/vw_logo.svg")
        ul.nav.navbar-nav
            li(ui-sref-active="active")
                a.btn.btn-sm(ui-sref="catalogue" )
                    | {{'ROOT_MENU_CATALOGUE' | translate}}
                    span.sr-only (current)
            li(ui-sref-active="active")
                a.btn.btn-sm(ui-sref="about" translate="ROOT_MENU_ABOUT")

        ul.nav.navbar-nav.navbar-right
            cart-btn
            li(uib-dropdown is-open="status.isopen")
                a.btn.btn-sm(href='' id="language-dropdown" uib-dropdown-toggle)
                    | {{ 'ROOT_MENU_LANG' | translate }}
                    | &nbsp;
                    span.caret
                ul(uib-dropdown-menu aria-labelledby="language-dropdown")
                    li
                        a(href="" ng-click="menu.changeLanguage('ru')" translate="ROOT_MENU_LANG_RU")
                    li
                        a(href="" ng-click="menu.changeLanguage('en')" translate="ROOT_MENU_LANG_EN")
