div.navbsr.navbar-static-top.root__nav
    .container
        ul.nav.navbar-nav
            li
                a.btn.btn-sm.disabled(href='#' translate="ROOT_MENU_LOGIN")
            li
                a.btn.btn-sm(href='#' translate="ROOT_MENU_ABOUT")

        ul.nav.navbar-nav.navbar-right
            li(uib-dropdown is-open="status.isopen")
                a(href='' id="language-dropdown" uib-dropdown-toggle)
                    | {{ 'ROOT_MENU_LANG' | translate }}
                    span.caret
                ul(uib-dropdown-menu aria-labelledby="language-dropdown")
                    li
                        a(href='#' ng-click="changeLanguage('ru')") {{ 'ROOT_MENU_LANG_RU' | translate }}
                    li
                        a(href='#' ng-click="changeLanguage('en')") {{ 'ROOT_MENU_LANG_EN' | translate }}
