//
   Created by Slava on 18.11.2015.

section
    .container
        .page-header
            h1 Что это и зачем
            p Проект создан для практики и демонстрации навыков владения Angular, JS и Bootstrap, и прикола ради.
            h3 Этапы реализации
            ol
                li
                    span.label.label-success Сделано
                    | Интерфейс на Angular на основе статичных данных

                    ul
                        li Каталог товаров
                        li Фильтр каталога по нескольким параметрам
                        li Интернационализация
                        li Корзина
                        li Оформление заказа
                li
                    span.label.label-default Ожидается
                    | Управление контентом с помощью админки на Django

                    ul
                        li Авторизация
                        li Авторизация через API Facebook и Google
                        li Группы пользователей
                        li Личный кабинет
                        li Управление контентом через Ajax интерфейс
                        li Отправка "чека" заказа по почте