//
   Created by Slava on 18.11.2015.

section
    .container
        .page-header
            h1 Оформление заказа
            p Пожалуйста, нажмите кнопку "оплатить заказ" и он немедленно будет доставлен.
            h3 Ваш заказ
            ul
                li Что-то там
                li Что-то такое еще
            h3 На сумму:
                span 345
            p
                a(href="#").btn.btn-primary Оплатить заказ