
<section>
  <div class="container">
    <div class="page-header">
      <h1>Your cart</h1>
    </div>
  </div>
  <div class="container">
    <table class="table table-hover basket">
      <thead>
        <tr>
          <th>Photo</th>
          <th>Name</th>
          <th>Price/item</th>
          <th class="cell__counter">Qty</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <div></div>
        <tr ng-repeat="item in vm.cartList" class="cart-list">
          <td>
            <div class="width--100">
              <image-load-indicator img-src="item.image" width="100"></image-load-indicator>
            </div>
            <!--img.img-responsive(ng-src="{{item.image}}" style='width: 100px; display: block;')-->
          </td>
          <td><a ui-sref="item({ category: item.categoryID, item: item.uid })">{{item.name}}</a>
            <p ng-bind="(item.description | limitTo : 100 : begin) + '…'"></p>
          </td>
          <td ng-bind="item.price | currency"></td>
          <td>
            <form name="quantity">
              <div class="input-group basket__counter"><span class="input-group-btn">
                  <button ng-click="vm.minusItem(item.uid)" data-ng-disabled="item.qty == 1" class="btn btn-default"><span class="plyphicon glyphicon-minus"></span></button></span>
                <input ng-model="item.qty" name="qty" data-ng-change="vm.updateCartModel(qty)" integer-restrict="integer-restrict" class="form-control input-number"/><span class="input-group-btn">
                  <button ng-click="vm.plusItem(item.uid)" class="btn btn-default"><span class="plyphicon glyphicon-plus"></span></button></span>
              </div>
            </form>
          </td>
          <td cart-list-confirm="cart-list-confirm">
            <button ng-click="toggleSelect()" class="btn btn-default">Remove</button>
            <div class="contain__confirmation__container">
              <div ng-show="confirmShow" class="cart__confirmation">
                <button ng-click="vm.removeItemType(item.uid); toggleSelect()" class="btn btn-danger">Ok</button>
                <button ng-click="toggleSelect()" class="btn btn-primary">Cancel</button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-md-6 col-md-offset-6 text-right">
        <h3>Total:<span>{{ vm.totalCount | currency }}</span></h3>
        <div cart-list-confirm="cart-list-confirm">
          <button ng-click="toggleSelect()" class="btn btn-default btn-lg">Clear cart</button>
          <div class="contain__confirmation__container cart--empty">
            <div ng-show="confirmShow" class="cart__confirmation">
              <button ng-click="vm.emptyCart(); toggleSelect()" class="btn btn-danger">Ok</button>
              <button ng-click="toggleSelect()" class="btn btn-primary">Cancel</button>
            </div>
          </div>
          <button ui-sref="checkOut" class="btn btn-primary btn-lg">Checkout</button>
        </div>
      </div>
    </div>
  </div>
</section>