
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3>Фильтр</h3>
      <h5>Бренд</h5>
      <select data-ng-model="vm.search.brand" class="form-control input-sm">
        <option label="Все бренды" value="">Все бренды</option>
        <option ng-repeat="goodie in vm.goodies | myUnique:'brand'" value="{{goodie.brand}}">{{goodie.brand}}</option>
      </select>
      <h5>Название</h5>
      <input type="text" placeholder="Название" ng-model="vm.search.name" class="form-control input-sm"/>
      <h5>Цена</h5>
      <form class="form-inline">
        <div class="input-group col-md-5">
          <div class="input-group-addon">от</div>
          <input type="number" ng-model="vm.search.price.min" class="form-control input-sm"/>
        </div>
        <div class="input-group col-md-6">
          <div class="input-group-addon">до</div>
          <input type="number" ng-model="vm.search.price.max" data-ng-change="vm.updateProds()" class="form-control input-sm"/>
        </div>
      </form>
      <h5>Теги</h5>
      <tags-input ng-model="vm.search.tags" onTagAdded="vm.updateProds()" placeholder="Введите теги" addFromAutocompleteOnly="true">
        <auto-complete source="vm.loadTags($query)" min-length="1"></auto-complete>
      </tags-input>
      <p class="text-right"><a href="#" data-ng-click="vm.resetFilter()" class="btn btn-link btn-sm">Сборсить фильтр</a></p>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div ng-repeat="item in vm.filteredGoodies" class="col-sm-6 col-md-4">
          <product-card product="item"></product-card>
        </div>
      </div>
      <div class="row text-center">
        <uib-pagination ng-model="vm.paginator.currentPage" data-ng-change="vm.updateProds()" total-items="vm.paginator.totalItems" max-size="vm.paginator.maxSize" boundary-links="true"></uib-pagination>
      </div>
    </div>
  </div>
</div>