
<section>
  <div class="container">
    <div class="row">
      <ol class="breadcrumb">
        <li><a href="#/catalogue">Catalogue</a></li>
        <li><a href="#/catalogue?category={{ item.categoryID }}">{{ item.categoryName }}</a></li>
        <li class="active">{{ item.name }}</li>
      </ol>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="img-thumbnail width--100">
          <image-load-indicator img-src="item.image" width="100"></image-load-indicator>
        </div>
      </div>
      <div class="col-md-8">
        <h1>{{ item.name }}<small>&nbsp;by {{ item.brand }}</small></h1>
        <h4>Description</h4>
        <p>{{ item.description }}</p>
        <h4>Tags</h4>
        <ul class="list-inline">
          <li ng-repeat="tag in item.tags"><span class="label label-primary">{{ tag.text }}</span></li>
        </ul>
        <h4>Price: {{ item.price | currency }}</h4>
        <p>
          <form name="QtySelect" class="form-inline">
            <div class="form-group">
              <label for="QtySelect">Qty:</label>
              <select data-ng-model="item.qty" id="QtySelect" ng-options="maxQty[n-1] for n in maxQty" class="form-control input-lg"></select>
            </div>
            <div class="form-group"><a href="" role="button" ng-click="addItem(item)" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-shopping-cart"></span>Add to cart</a></div>
          </form>
        </p>
      </div>
    </div>
  </div>
</section>