
<div class="navbsr navbar-static-top root__nav">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href="#" translate="ROOT_MENU_LOGIN" class="btn btn-sm disabled"></a></li>
      <li><a href="#/" translate="ROOT_MENU_CATALOGUE" class="btn btn-sm"></a></li>
      <li><a ui-sref="about" translate="ROOT_MENU_ABOUT" class="btn btn-sm"></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li uib-dropdown="uib-dropdown" is-open="status.isopen"><a href="" id="language-dropdown" uib-dropdown-toggle="uib-dropdown-toggle" class="btn btn-sm">
          {{ 'ROOT_MENU_LANG' | translate }}
          &nbsp;<span class="caret"></span></a>
        <ul uib-dropdown-menu="uib-dropdown-menu" aria-labelledby="language-dropdown">
          <li><a href="" ng-click="menu.changeLanguage('ru')" translate="ROOT_MENU_LANG_RU"></a></li>
          <li><a href="" ng-click="menu.changeLanguage('en')" translate="ROOT_MENU_LANG_EN"></a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>