@require '../../bower_components/bootstrap/dist/css/bootstrap.min.css'
@require '../../bower_components/ng-tags-input/ng-tags-input.min.css'
@require '../../bower_components/ng-tags-input/ng-tags-input.bootstrap.min.css'

.categories__nav
  margin-top 0
  background-color #fff
  border-top 0

.jumbotron
  margin-bottom 0

.root__nav
  li > a
    padding-top 5px
    padding-bottom 5px

.basket
  td
    vertical-align middle !important
  &__counter
    max-width 100px
    input
      width 45px !important
      text-align center

.nav .pagination .carousel .panel-title a
  cursor pointer