@require '../../bower_components/bootstrap/dist/css/bootstrap.min.css'
@require '../../bower_components/ng-tags-input/ng-tags-input.min.css'
@require '../../bower_components/ng-tags-input/ng-tags-input.bootstrap.min.css'

.categories__nav
  margin-top 0
  background-color #fff
  border-top 0

body
  position: relative;
  min-height: 100vh;
  //padding-bottom 150px

footer
  background-color #11121a
  //margin-top 180px
  padding 30px 0 10px 0
  color #5c6580
  position: absolute;
  right: 0;
  bottom: -150px;
  left: 0;

.jumbotron
  margin-bottom 0
  background-color #11171f
  background-image url('../img/bg01.jpg')
  background-position 50% 95%
  background-size cover
  color rgba(255,255,255,.7)
  transition background-image  10s ease-in-out;

.filter
  width 210px

.filter__col-48
  width 49%

.breadcrumb
  margin-top 30px

.root__nav
  background-color #0c0d1a
  li > a
    padding-top 5px
    padding-bottom 5px
    &:hover
      background-color transparent
      color white
      border 1px solid transparent
    &:focus
      background-color transparent
      color white
      border 1px solid transparent
  .open>a, .nav .open>a:focus, .nav .open>a:hover
    background-color transparent
    border-color: #337ab7;
  .dropdown-menu
    background-color #0c0d1a
    li > a
      color #337ab7
      &:hover
        background-color transparent
        color white
        border 0
      &:focus
        background-color transparent
        color white
        border 0
  li.active
    background-color rgba(255,255,255,.1)

.modal-sm .modal-content
  top 150px

.root__nav-brand
  float: left;
  height: 30px;
  padding: 10px 10px;
  font-size: 18px;
  line-height: 20px;

.basket
  td
    vertical-align middle !important
  &__counter
    max-width 100px
    input
      width 45px !important
      text-align center

.cart__btn
  transition .1s linear all

.contain__confirmation__container
  perspective 200px
  position absolute
  left -16px
  top calc(50% - 22px)
  &.cart--empty
    top calc(50% - 10px)
    left calc(50% - 28px)
    .cart__confirmation
      padding 20px

.cart__confirmation
  white-space nowrap
  padding 5px
  border 1px solid #bbb
  border-radius 6px
  background-color white
  box-shadow: 2px 4px 25px 0 rgba(0,0,0,0.37)
  transition all .5s cubic-bezier(0.460, -0.600, 0.580, 2.5)
  opacity 1
  &.ng-hide-add,
  &.ng-hide-remove

    //transition: all linear 0.5s;

  &.ng-hide
    transform: rotate3d(100, 0, 0, 90deg )
    //transdorm: scale3d(150%, 150%, 150%)
    opacity: 0;


.nav .pagination .carousel .panel-title a
  cursor pointer

.animate-hide-simple
  opacity 1
  transition: 0.1s linear all
  &.ng-hide
    opacity 0

.catalogue-list
  opacity 1
  &.ng-enter,
  //&.ng-leave,
  &.ng-move
    transition: 0.1s linear all;

  &.ng-enter,
  &.ng-move
    opacity: 0;

  &.ng-move.ng-move-active
    opacity 1
  &.ng-enter.ng-enter-active
    opacity: 1;

  &.ng-leave
    opacity: 1;
  &.ng-leave.ng-leave-active
    opacity: 0;

.cart-list
  td
    //overflow hidden
    position relative
  &.ng-leave.ng-leave-active,
  &.ng-move,
  &.ng-enter
    opacity:0;
    td
      padding -50px

  &.ng-leave,
  &.ng-move.ng-move-active,
  &.ng-enter.ng-enter-active
    opacity:1;
    td
      padding auto

  &.ng-move,
  &.ng-enter,
  &.ng-leave
    transition:all linear 0.2s;
    td
      transition:all linear 0.2s;

.img-loading-container
  position relative
  width 100%
  display block
  &:before
    content: "";
    display: block;
    padding-top: 100%; 	/* initial ratio of 1:1*/

.img-loading-container.loaded
  .content-container
    background-color rgba(255,255,255,0)
    .spinner
      opacity 0
      transition all .1s linear
    img
      opacity 1
      transition all .1s linear

.width--100
  width 100%

.content-container
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  background-color white
  z-index 5
  opacity 1
  transition all .1s linear
  img
    position absolute
    top 0
    opacity 0

.spinner
  width: 20%;
  height: 20%;
  background-color: #328fb3;
  position absolute
  top calc(50% - 10%)
  bottom calc(50% - 10%)
  left calc(50% - 10%)
  right calc(50% - 10%)
  animation: sk-rotateplane 1.2s infinite ease-in-out;

@keyframes sk-rotateplane
  0%
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  50%
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  100%
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}