doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0")
        title Магазин желаний
        //link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css')
        link(href="css/styles.css",rel="stylesheet")
        script(src="js/allvendor.js")
        script(src="js/app.js")
    body(ng-app="funshopApp")
        menu-root
        main-banner
        section(ng-controller='GoodiesListController')
            nav.navbar.navbar-default.categories__nav
                .container
                    .navbar-header
                        button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href="#") Моё!
                    #bs-example-navbar-collapse-1.collapse.navbar-collapse
                        ul.nav.navbar-nav
                            li
                                a(href="#")
                                    | Все
                            li(ng-repeat='category in categories')
                                //.active
                                a(href='#' ng-click='')
                                    | {{category.name}}
                                    //span.sr-only (current)
                        ul.nav.navbar-nav.navbar-right
                            li
                                button(type='button').btn.btn-default.navbar-btn.disabled Корзинка
                                    .badge 4
            .container
                .row
                    .col-md-3
                        h3 Фильтр
                        h5 Бренд
                        select.form-control.input-sm(data-ng-model="search.brand")
                            option(label="Все бренды" value="") Все бренды
                            option(ng-repeat="goodie in goodies | myUnique:'brand'" value="{{goodie.brand}}") {{goodie.brand}}
                        h5 Название
                        input.form-control.input-sm(type='text', placeholder='Название', ng-model="search.name")
                        //h5 Теги
                        h5 Цена
                        form.form-inline
                            .input-group.col-md-5
                                .input-group-addon от
                                input.form-control.input-sm(type="number" ng-model="search.price.min")
                            .input-group.col-md-6
                                .input-group-addon до
                                input.form-control.input-sm(type="number" ng-model="search.price.max")
                        h5 Теги
                        tags-input(ng-model="search.tags")
                            auto-complete(source="loadTags($query)")
                        p.text-right
                            a.btn.btn-link.btn-sm(href="#" data-ng-click="resetFilter()") Сборсить фильтр
                    .col-md-9
                        .row
                            .col-sm-6.col-md-4(ng-repeat='goodie in filteredGoodies')
                                product-card(product="goodie")
                        .row.text-center
                            uib-pagination(
                                ng-model="paginator.currentPage"
                                total-items="paginator.totalItems"
                                max-size="paginator.maxSize"
                                boundary-links="true"
                            )

        //include partials/basket.jade
        //include partials/about.jade
        //include partials/check-out.jade