
<section>
  <div class="container">
    <div class="page-header">
      <h1>Ваша корзина</h1>
    </div>
  </div>
  <div class="container">
    <table class="table table-hover basket">
      <thead>
        <tr>
          <th>Фото</th>
          <th>Название</th>
          <th>Цена</th>
          <th class="cell__counter">Количество</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img src="goods/hugs.gif" style="width: 100px; display: block;" class="img-responsive"/></td>
          <td><a href="#">Обнимашки</a>
            <p>А тут сокращенное описание позиции</p>
          </td>
          <td>12</td>
          <td>
            <div class="input-group basket__counter"><span class="input-group-btn">
                <button class="btn btn-default"><span class="plyphicon glyphicon-minus"></span></button></span>
              <input value="1" class="form-control input-number"/><span class="input-group-btn">
                <button class="btn btn-default"><span class="plyphicon glyphicon-plus"></span></button></span>
            </div>
          </td>
          <td>
            <button class="btn btn-default">Удалить</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-md-6 col-md-offset-6 text-right">
        <h3>Всего:<span>456</span></h3>
        <button class="btn btn-primary">Оформить заказ</button>
      </div>
    </div>
  </div>
</section>